PRODUCT_NAME = $(TARGET_NAME)
INFOPLIST_FILE = InhouseMakeriOS/Info.plist
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
CODE_SIGN_ENTITLEMENTS = InhouseMakeriOS/InhouseMakeriOS.entitlements
DEVELOPMENT_ASSET_PATHS = "InhouseMakeriOS/Preview Content"
GENERATE_INFOPLIST_FILE = NO
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
SWIFT_EMIT_LOC_STRINGS = YES
SWIFT_VERSION = 5.0
IPHONEOS_DEPLOYMENT_TARGET = 18.2
TARGETED_DEVICE_FAMILY = 1
CODE_SIGN_STYLE = Automatic
INHOUSE_DEVELOPMENT_TEAM = 63SB2B8YJ5
DEVELOPMENT_TEAM = $(INHOUSE_DEVELOPMENT_TEAM)
MARKETING_VERSION = 1.0
CURRENT_PROJECT_VERSION = 1
GOOGLE_CLIENT_ID = 742162085445-gfk77jd6n7ue8i1nln6ish1kbnne00oo.apps.googleusercontent.com
GOOGLE_REVERSED_CLIENT_ID = com.googleusercontent.apps.742162085445-gfk77jd6n7ue8i1nln6ish1kbnne00oo
INHOUSE_APP_ENV = development
INHOUSE_APP_DISPLAY_NAME = 내전 메이커 Dev
APP_ENV = $(INHOUSE_APP_ENV)
APP_DISPLAY_NAME = $(INHOUSE_APP_DISPLAY_NAME)
PRODUCT_BUNDLE_IDENTIFIER = com.hwb.InhouseIOS
